@charset "utf-8";

div.container-1{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    width: 50%;

    box-shadow: 2px 2px 8px #a052094d;
    
    border: 2px solid #8621F8;
    border-radius: 10px 0px;
    
    background-color: #282323;
}
div.container-1 > h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    /* color: #cecece; */
    font-size: 1.3em;        
    color: #ff8737;
    text-align: center;
    text-shadow: 1px 1px 4px black;
}

div.botoes{
    margin: auto;
    display: flex;
    width: 75%;
    height: 40px;
    justify-items: center;
    justify-content: space-evenly;
}

div.botoes > button{
    padding: 10px;
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.26);
    justify-content: center;
    transition: .6s;
}
div.botoes > button > p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.5em;
}

div.botoes > button > p > sub{
    font-size: .5em;
}

div.botoes > button:hover{
    box-shadow: 1px 1px 10px rgba(0, 255, 0, 0.637);
    border-radius: 0% 10%;
    transition: .6s;
}
div.container_grafico{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 5px;
    width: 75%;
    height: 290px;

    background-color: rgba(0, 34, 107, 0.274);

    border: 1px solid rgba(0, 0, 0, 0.300);
    box-shadow: 1px 1px 8px black;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

