@charset "UTF-8";
/* Todas as demais mídias */
/* Typical Device Breakpoints
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px */

@media screen and (min-width: 768px) and (max-width: 992px){
    /* CONFIG PARA TABLETS */

    main{
        width: 768px;
    }

}


@media screen and (min-width: 992px){
    /* CONFIG PARA DESKTOP */

    main{
        width: 992px;
        margin: auto;
    }

    div.container-conteudo{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    div.container-1 > h2{
        font-size: 2.3em;        
    }

    div.container-2{
        display: block;
        margin: auto;
        margin: 50px 20px 60px 20px;
    }



    div.formatos > a > img{
        height: 50px;
        width: 50px;
    }

    /* PRECISA CONFERIR ISTO */
    div.container-tela{
        width: 900px;
        height: 400px;
    }

}